@use 'variables' as *;

.ps {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--#{$prefix}z-index);

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--#{$prefix}backdrop-bg);
    backdrop-filter: blur(var(--#{$prefix}backdrop-blur));
    backface-visibility: hidden;
  }

  &__toolbar,
  &__toolbar__options {
    display: flex;
    align-items: center;
  }

  &__toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--#{$prefix}toolbar-padding-y) var(--#{$prefix}toolbar-padding-x);
    color: var(--#{$prefix}toolbar-color);

    &__options {
      gap: 0.5rem;
      margin-left: auto;
    }
  }

  // Button
  &__button {
    display: inline-flex;
    align-items: center;
    appearance: none;
    color: var(--#{$prefix}button-color);
    background-color: var(--#{$prefix}button-bg);
    border: var(--#{$prefix}button-border);
    border-radius: var(--#{$prefix}button-border-radius);
    padding: var(--#{$prefix}button-padding);
    cursor: pointer;
    svg {
      width: var(--#{$prefix}button-icon-size);
      height: var(--#{$prefix}button-icon-size);
    }

    &#{&}--next,
    &#{&}--prev {
      position: absolute;
      display: inline-flex;
      top: 50%;
      transform: translateY(-50%);
    }

    &#{&}--next {
      left: var(--#{$prefix}nav-button-space);
    }

    &#{&}--prev {
      right: var(--#{$prefix}nav-button-space);
    }
  }
}
