@use 'variables' as *;

.ps {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--#{$prefix}z-index);
  overflow: hidden;

  .ps__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--#{$prefix}backdrop-bg);
    backdrop-filter: blur(var(--#{$prefix}backdrop-blur));
  }

  .ps__toolbar,
  .ps__toolbar__options {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .ps__toolbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--#{$prefix}toolbar-padding-y) var(--#{$prefix}toolbar-padding-x);
    color: var(--#{$prefix}toolbar-color);

    .ps__toolbar__options {
      gap: 0.5rem;
      margin-left: auto;
    }
  }

  .ps__slides {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    position: relative;
  }

  .ps__slide {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    inset: 0;

    &[hidden] {
      display: none;
    }

    .ps__slide__viewport {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ps__slide__media {
      display: block;
      max-width: min(100%, 72rem);
      max-height: calc(100vh - 8rem);
      width: auto;
      height: auto;
      object-fit: contain;
      border: 0;
      color: var(--#{$prefix}color);
    }

    .ps__slide__caption {
      max-width: min(100%, 72rem);
      text-align: center;
      color: var(--#{$prefix}color);
    }
  }

  // Button
  .ps__button {
    display: inline-flex;
    align-items: center;
    appearance: none;
    color: var(--#{$prefix}button-color);
    background-color: var(--#{$prefix}button-bg);
    border: var(--#{$prefix}button-border);
    border-radius: var(--#{$prefix}button-border-radius);
    padding: var(--#{$prefix}button-padding);
    cursor: pointer;
    > * {
      width: var(--#{$prefix}button-icon-size);
      height: var(--#{$prefix}button-icon-size);
    }

    &:hover,
    &:focus {
      color: var(--#{$prefix}button-color);
    }

    &:disabled {
      opacity: 0.3;
    }
  }
}

#ps_slides {
  position: absolute;
  inset: 0;
  padding: 4rem 0 1rem;
  .ps__slides__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
